<mat-card>
  <mat-card-header>
    <mat-card-title>
      <h1 class="border-bottom">People</h1>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <mat-list>
        <mat-list-item *ngFor="let people of peoples; let last = last;" (click)="select(people)" class="mat-list-option border-bottom" [ngClass]="{'no-bottom-border': last}">
          <h3 mat-line>
            {{people.name}}
          </h3>
          <p mat-line>
            {{people.mass}}
          </p>
          <button mat-mini-fab (click)="delete(people); $event.stopImmediatePropagation()" class="mr-3">
            <mat-icon>close</mat-icon>
          </button>
          <button mat-icon-button class="mr-2" [routerLink]="people.id" routerLinkActive="active" >
            <mat-icon>more_vert</mat-icon>
          </button>
        </mat-list-item>
      </mat-list>
    </mat-card-content>
</mat-card>
